*{
    box-sizing: border-box;
}
#head{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 40%;
    margin-top: 10px;
}
#head>h2{
    margin-top: -5px;
    margin-left: 10px;
    /* border: 1px solid blue; */
}
i{
    width: 10px;
    color:dimgray;
}
#form1{
    margin-top: 30px;
    width: 40%;
    border: 1px solid blue;
    padding: 10px;
}
#name{
    width: 100%;
    padding: 5px;
}
#cardholder{
    padding: 10px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#card{
    border: none;
}
#cardholder>:last-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid blue;
    width: 60%;
    margin-left: 110px ;
}
#date, #cvc{
    width: 100%;
}