*{
    box-sizing: border-box;
    color: #1A2E44;
    font-family:sans-serif;
}

/* Card Details */
h1{
    margin-left: 10px;
    margin-bottom: 40px;
    font-size: 25px;
}
#form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 10px;
    gap: 20px;
}
#form1{
    border: 1px solid rgb(212, 209, 209) ;
    width: 80%;
    border-radius: 10px;
}
.head{
    display: flex;
}
.head>h3{
    margin-top: -2px;
    margin-left: 10px;
    font-size: 17px;
}
#form1>div:first-child{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    margin-top: 10px;
}
#form1>div:first-child>input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(212, 209, 209) ;
    
}
#form1>div:nth-child(2){
    margin-left: 10px;
    margin-bottom: 10px;
}
#form1>div:nth-child(3){
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 1px solid rgb(212, 209, 209) ;
    padding: 10px;
    border-radius: 5px;
    width: 95%;
    margin:auto;
    margin-bottom: 10px;
}
#form1>div:nth-child(3)>div>input{
    border: none;
    outline: none;
}
#form1>div:nth-child(3)>div>input::-webkit-outer-spin-button,
#form1>div:nth-child(3)>div>input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#form1>div:nth-child(3)>:last-child{
    display: flex;
    width: 40%;
    margin-left: 170px;
}
#form1>div:nth-child(3)>:last-child>input{
    width: 50%;
}
#form1>a>button{
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4C83EE;
    color: #fff;
    width: 10%;
}