*{
    box-sizing: border-box;
    color: #1A2E44;
    font-family:sans-serif;
}
/* Navbar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1a2e44;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a, .sidenav button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #A3ABB4;
    display: block;
    transition: 0.3s;
    margin-top: 20px;
  }
  .sidenav button{
    /* margin-left: 10px; */
    background-color: #1a2e44;
    border: none;
  }
  .drop-content{
    margin-left: 20px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /* body */
#main:first-child>span{
    color: #1a2e44;
    font-size: 22px;
    margin-left: 20px;
}
#form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 10px;
    gap: 20px;
}
#form1{
    border: 1px solid rgb(212, 209, 209) ;
    width: 80%;
    border-radius: 10px;
}
.head{
    display: flex;
}
.head>h3{
    margin-top: -2px;
    margin-left: 10px;
    font-size: 17px;
}
#form1>div:first-child{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    margin-top: 10px;
}
#form1>div:first-child>input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(212, 209, 209) ;
    
}
#form1>div:nth-child(2){
    margin-left: 10px;
    margin-bottom: 10px;
}
#form1>div:nth-child(3){
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 1px solid rgb(212, 209, 209) ;
    padding: 10px;
    border-radius: 5px;
    width: 95%;
    margin:auto;
    margin-bottom: 10px;
}
#form1>div:nth-child(3)>div>input{
    border: none;
    outline: none;
}
#form1>div:nth-child(3)>div>input::-webkit-outer-spin-button,
#form1>div:nth-child(3)>div>input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#form1>div:nth-child(3)>:last-child{
    display: flex;
    width: 40%;
    margin-left: 170px;
}
#form1>div:nth-child(3)>:last-child>input{
    width: 50%;
}
#form1>a>button{
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4C83EE;
    color: #fff;
    width: 10%;
}
/* Payments */
#form2{
    border: 1px solid rgb(223, 220, 220) ;
    width: 70%;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
}
#form2>div>h3{
    font-size: 15px;
}
.head>img{
    width: 2.5%;
    height: 2.5%;
    margin-top: -5px;
}
#form2>div{
    margin-left: 10px;
    margin-right: 10px;
}
#form2>div:first-child, #form2>div:nth-child(2){
    display: flex;
    justify-content: space-between;
}
#form2>a>button{
    margin-left: 370px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(223, 220, 220) ;
}