#container{
    width: 95%;
   
    /* border: 1px solid crimson; */
    padding: 15px 33px;
    display: flex;
    justify-content: space-between;
    color: #243F5C;
    align-items: center;
    background-color: #fff;
    position: fixed; top: 0; left: 0; z-index: 9990;
}
#navbar{
    padding: 0% 4% 0% 4%;
   /* padding-top: 30px; */
   background-color: #fff;
}
#space{
    width: 90%;
    /* border: 1px solid green; */
}
.class1{
    display: flex;
    width: 30%;
}
.class0{
    display: flex;
    width: 90%;
    /* border: 1px solid crimson; */
    justify-content: space-around;
    align-items: center;
    margin-left: 15%;

}



#log{
    /* border: 1px solid crimson; */
    width: 30%;
    display: flex;
  margin-right: -4%;
    /* justify-content: space-evenly; */
}
 .signup{
    /* padding: 5px 18px; */
    /* margin: 5% 5% 5% 10%; */
    /* margin-bottom: 10px; */
    /* width: 100px; */
    margin-left: 15px;
    padding: 5px 20px ;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #22D172;
    border-radius: 8px ;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 14px;


}
.login{
    /* padding: 9px 18px; */
    /* margin: 4% 4% 4% 17%; */
    padding: 10px 20px ;
    margin-left: 10%;
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(255, 255, 255);
   border-radius: 8px ;
   border: 1px solid black;
   font-weight: 500;
}
#container>div{
    font-size: 14px;
    font-weight:700;
    font-family:Arial, Helvetica, sans-serif
}

/* <============================> */

.h1{
    text-align: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #202C45;
    margin-top: 100px;
    font-size: 43px;
}
.div1{
    width: 48%;
    font-size: 20px;
    margin: 40px auto;
    line-height: 2.3;
    color: #202C45;
    text-align: center;
       font-family:  Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 540;

}
#signup_free{
   margin-left: 44%;
   padding: 5px 20px ;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #22D172;
   border-radius: 8px ;
   border: none;
   color: white;
   font-weight: 700;
   font-size: 14px;
   height: 43px;

}

#icon1{
    width: 68%;
    display: flex;
    margin: auto;
    flex-wrap:wrap;
    /* border: 1px solid crimson; */
}
#icon1>div{
    padding: 2% 4% 0% 5%;

}
#icon1 img{
    width: 89px;
    height: 89px;
}
#big1{
    width: 78%;
    margin: auto;
}
#big1>img{
    width: 100%;
  /* margin-left: 12%; */
}
.h1a{
    text-align: center;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    color: #202C45;
    margin-top: 100px;
   
    /* font-size: 38px; */
    
}
.first{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    /* border: 1px solid crimson; */
    width: 80%;
    margin: auto;
    margin-top: 30px;
   


}
.grid1 img{
    width: 78px;
    /* height: 80px; */
    margin: 3%;
}
.grid1{
    display: flex;
    width: 97%;
    padding-bottom: 10%;
   /* border: 1px solid green; */
   color: #202C45;
   font-family: Arial, Helvetica, sans-serif;
}
.grid2{
    font-size: 14px;
   line-height: 1.5;
}
.grid2>h3{
    margin: 7px 0px;
    font-weight: 600;
    font-size: 20px;
}
.p1{
    line-height: 2;
    color: #202c45c4;
   
}
.p2{
    text-align: center;
    line-height: 1;
    color: #202c45;
    
}
#div3{
    width: 80%;
    margin: 40px auto 0px auto;
    display: flex;
}

.image1>img{
    width: 80%;

}
.image2>img{
    margin-left: 16%;

    /* border: 1px solid crimson; */
}

.list1>img{
    width: 100%;
}

  .div4{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 82%;
 
    margin: auto;
    padding-bottom: 60px;
  }
  
  .same>h3{
    margin: 7px 0px;
    margin-left: 7%;

    font-weight: 600;
    font-size: 20px;
    color: #202C45;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;

  }
  .secondlist{
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-right: 4%;
    color: #202c45d2;
  }
  .secondlist li{
   height: 70px;
  }
 



  li::marker{
    color: #22D172;
    font-size: 26px;
   
  }
#client{
   margin-top: 100px;
    width: 100%;
    height: 600px;
    background-image: url("./bgimage1.png");
    background-repeat: no-repeat;
    background-size:cover;

}
#h1a{
    margin-top: 100px;
}
.h1a{
    text-align: center;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    color: #202C45;
    padding-top: 80px;
}
/* <<<==============> */
.card{
    width: 38%;
    height: 270px;
    /* border: 1px solid crimson; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
    margin: auto;
    background-color: #fff;

}

/* #test{
width: 50px ;
height: 50px ;
border: 1px solid #202C45;

border-width: 2px 1.9px 6px 0px;
margin-top: 0px;
position: fixed;

margin-left: 30px;
border-radius:40% 60% 35% 45%;

} */
.test{
    margin: -6% 80% 3% 3%;
}
.test>img{
    width: 60px;
    height: 60px;
    /* margin-top: -30px; */

}
.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}
#test{
display: flex;
justify-content: center;
align-items: center;

}
.content1>div{
display: flex;
align-items: center;
margin-top: 20px;
margin-left: 30px;
margin-right: 30px;
flex-wrap: wrap;

}
.content1>div{
/* height: 40px; */
/* border: 1px solid crimson; */
font-family: Arial, Helvetica, sans-serif;
}
.content1>div>div{
margin-left: 30px;
font-size: 14px;
color: #202c45a9;
}
#content{
line-height: 1.6;
font-size: 14px;
color: #202c45dd;
}
.content1>div>h3{
margin: 2px 0px -6px 0px;
}
.time{
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
color: #202c45a5;
margin-top: -20px;
}
/* <<<<<=============>> */
 .slider2{
    margin-top: 130px;
    display: flex;
 }
  
 #icon2{
    width: 85%;
    display: flex;
    margin: auto;
    /* flex-wrap:wrap; */
    /* border: 1px solid crimson; */
    margin-bottom: 150px;
}
#icon2>div{
    padding: 2% 7% 0% 7%;

}
#icon2 img{
    width: 60px;
    height: 60px;
}

#faq{
    margin-top: 100px;
    width: 100%;
    height: 800px;
    background-image: url("./bgimage2.png");
    background-repeat: no-repeat;
    background-size:contain;


}
body{
    margin: 0px;
}
.grid0{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
    margin: auto;
    row-gap: 70px;
   
}
.card1{
    width: 94%;
    height: 110%;
    /* border: 1px solid crimson; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
    margin: auto;
    background-color: #fff;

}
.h1b{
    text-align: center;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    color: #202C45;
    padding-top: 50px;
    margin-bottom: 50px;
}
.blue{
    width: 100%;
    height: 400px;
    background-image: url("./bgimage3.png");
   
    background-repeat: no-repeat;
    background-size:contain;
    margin-top: -120px;
    /* border: 1px solid coral; */
   /* background-color: #202c45; */

}





/* <<<====== popover>> */

.popover__title {
    font-size: 14px;
    cursor: pointer;
    /* line-height: 36px; */
    text-decoration: none;
    /* color: rgb(228, 68, 68); */
    /* text-align: center; */
    /* padding: 15px 0; */
  }
 
  
  .popover__wrapper {
    position: relative;
    /* margin-top: 1.5rem; */
    display: inline-block;
  }
  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-top: 10px;
    border-radius: 5px;
    left: -130px;
  /*   transform: translate(0, 10px); */
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    width: 280px;
  }
  .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
  /*   transform: translate(0, -20px); */
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  /* .popover__message {
    text-align: center;
  } */
  #pop{
    display:flex;
    /* justify-content: space-between; */

  }
#pop>div{
    margin-left: 10%;
    margin-bottom: 20px;
    cursor: pointer;
}

#pop h3{
    font-size: 15px;
    /* color: black; */
    font-weight: light;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#pop>div:hover{
    color: #22D172;
}
#pop>div>div:hover{
    color: #22D172;
}
#pop>div>div{
    font-size: 13px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#pop>div h3 div:hover{
    color: #22D172;
}
.image01{
    width: 40px ;
    height: 40px;
    margin-top: 12px;
}
.kyabolu{
    padding-top: 100px;
    padding-left: 10%;
}
.span1{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif
}
.kyabolu h2{
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 0px;
    

}
#signup_free1{
  
    padding: 5px 20px ;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #22D172;
    border-radius: 8px ;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 14px;
    height: 43px;
    cursor: pointer;
 
 }
 #footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
 }
 .list01 li::marker{
    color: #fff;

    
 }
 .list01 li{
    margin-left: -38px;
    font-size: 14px;
    line-height: 1.5;
    color: #243F5C;
    font-family: Arial, Helvetica, sans-serif;
 }
 .list01 li:hover{
    color: #22D172;
    cursor: pointer;
    
 }
 #test1{
    width: 40px ;
    height: 40px ;
    border: 1px solid #202C45;
    /* background-color: brown; */
    border-left:  dashed;
    border-width: 2px 1.9px 6px 0px;
  
    border-radius:40% 60% 35% 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
  }
  #footericon{
    display: flex;
    margin-bottom: 100px;
  }
.rail{
    width: 120px;
    height: 120px;
    margin-left: 8%;
    margin-top: 4%;
}