#container{
    width: 95%;
    margin:  20px auto;
    /* border: 1px solid crimson; */
    display: flex;
    justify-content: space-between;
    color: #243F5C;
    align-items: center;
}
#space{
    width: 90%;
    /* border: 1px solid green; */
}
.class1{
    display: flex;
    width: 30%;
}
.class0{
    display: flex;
    width: 90%;
    /* border: 1px solid crimson; */
    justify-content: space-around;
    align-items: center;
    margin-left: 15%;

}


#log{
    /* border: 1px solid crimson; */
    width: 30%;
    display: flex;
  margin-right: -4%;
    /* justify-content: space-evenly; */
}
 .signup{
    /* padding: 5px 18px; */
    /* margin: 5% 5% 5% 10%; */
    /* margin-bottom: 10px; */
    /* width: 100px; */
    margin-left: 15px;
    padding: 5px 20px ;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #22D172;
    border-radius: 8px ;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 14px;


}
.login{
    /* padding: 9px 18px; */
    /* margin: 4% 4% 4% 17%; */
    padding: 10px 20px ;
    margin-left: 10%;
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(255, 255, 255);
   border-radius: 8px ;
   border: 1px solid black;
   font-weight: 500;
}
#container>div{
    font-size: 14px;
    font-weight:700;
    font-family:Arial, Helvetica, sans-serif
}
.popover__title {
    font-size: 14px;
    cursor: pointer;
    /* line-height: 36px; */
    text-decoration: none;
    /* color: rgb(228, 68, 68); */
    /* text-align: center; */
    /* padding: 15px 0; */
  }
 
  
  .popover__wrapper {
    position: relative;
    /* margin-top: 1.5rem; */
    display: inline-block;
  }
  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-top: 10px;
    border-radius: 5px;
    left: -130px;
  /*   transform: translate(0, 10px); */
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    width: 280px;
  }
  .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
  /*   transform: translate(0, -20px); */
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  /* .popover__message {
    text-align: center;
  } */
  #pop{
    display:flex;
    /* justify-content: space-between; */

  }
#pop>div{
    margin-left: 10%;
    margin-bottom: 20px;
    cursor: pointer;
}

#pop h3{
    font-size: 15px;
    /* color: black; */
    font-weight: light;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#pop>div:hover{
    color: #22D172;
}
#pop>div>div:hover{
    color: #22D172;
}
#pop>div>div{
    font-size: 13px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#pop>div h3 div:hover{
    color: #22D172;
}
.image01{
    width: 40px ;
    height: 40px;
    margin-top: 12px;
}