#container1{
    display: flex;
}
#container1 div{
   border: 1px solid black;
   width: 50%;
}
#box1{

}
#box2 img{
    width: 500px;
    height: 500px;
    margin-left: 40px;
}
#container2{
    width: 70%;
    border: 1px solid black;
    margin: auto;
}
.container2box{
 display: flex;
}
.container2box div img{
    height: 300px;
    width: 300px;
   }
#container3{
     color: black;
    background-color: antiquewhite;
    width: 60%;
    height: 400px;
    border-radius: 5px;
}