*{
    box-sizing: border-box;
}
#form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
#form>div{
    border: 1px solid black;
}
#form>div{
    width: 90%;
}
h1{
    margin-bottom: 30px;
    color: #1a2e44;
    margin-left: 20px;
    font-size: 22px;
    font-family:sans-serif;
}
#head{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 10px;
    margin-left: 20px;
}
#head>h3{
    margin-top: -3px;
    margin-left: 15px;
    color: #1a2e44;
    font-family:sans-serif;
    /* border: 1px solid blue; */
}
label{
    padding: 10px;
    color: #1a2e44;
    font-family:sans-serif;
    font-size: 13px;
}
i{
    width: 10px;
    color: #1a2e44;
}
#form1{
    margin-top: 20px;
    margin-left: 20px;
    width: 60%;
    padding: 10px;
    border: 1px solid rgb(230, 222, 222) ;
    border-radius: 10px;
}
#name, #cardholder{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(230, 222, 222) ;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#cardholder{
    padding: 10px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#card,#date,#cvc{
    border: none;
}
#cardholder>:last-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    margin-left: 150px ;
}
#date, #cvc{
    width: 100%;
}
#save{
    background-color:#4C83EE;
    border: 1px solid transparent;
    border-radius: 7px;
    color: #fff;
    font-size: .8125rem;
    font-weight: 600;
    line-height: 1.15;
    padding: 9px 15px;
}
/* Payment */
#form2>div:first-child{
    display: flex;
}